/* landing page  */
.logo {
  position: fixed;
  display: none;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  right: 0;
  bottom: 0;
  }
/* images in landing page (used with bootstrap slider) */
.bg-image {
  width: 100%;
  height: auto;
}

.profile-pic {
  border-radius: 50%;
}

.nav-bar {
  position: fixed;
  font-size: 24px;
  margin-left: 5%;
  margin-top: 5%;
  z-index: 1000;
}

/* labels above gallery and shirtType containers */
.label {
  background-color: transparent;
  font-size: 18px;
  text-align: right;
  font-family: 'Raleway', sans-serif;
  color: black;
}

/* contains canvas and galleries (using flebox) */
.wrapper-1 {
  display: flex;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 2.75%;
  height: 500px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  flex-direction: row;
  justify-content: space-around;
}

.shirtTitle {
  font-size: 40px;
}

/* individual saved shirts in shirt-gallery */
.shirt {
  stroke:#000;
  stroke-width:5px;
  width: 150px;
  margin: 10px;
  line-height: 100px;
}

.shirt-type{
  height: 100px;
  width: 100px;
  background: none;
  margin: 10px;
}

.canvas-container {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.editor-container {
  display: flex;
  justify-content: center;
  margin-top: -5%;
  margin-left: 23%;
  margin-right: 23%;
}

/* dropdown for large or small img. */
#image-select {
  border: none;
  margin-bottom: 20px;
  margin-left: 5px;
  border-radius: 0;
  background: transparent;
  font-family: 'Raleway', sans-serif;

}

/* image url input */
#image-form {
  border: none;
  margin-bottom: 20px;
  margin-left: 12px;
  border-radius: 0;
  background: transparent;
  font-family: 'Raleway', sans-serif;
}

.gallery-container {
  height: 500px;
  width: 150px;
  overflow-y: scroll;
}

.shirtColor {
  width: 140%;
  stroke:#000;
  stroke-width:5px;
}

.shirt-gallery {
  stroke:#000;
  stroke-width:5px;
}

.gallery-hoodie {
  stroke:#000;
  stroke-width:5px;
}

.gallery-baseball {
  stroke:#000;
  stroke-width:5px;
}

.save-button {
  background-color: transparent;
  position: absolute;
  border: 2px solid lightgrey;
  top: 25%;
  left: 25%;
  font-size: 18px;
}

.delete-button {
  background-color: transparent;
  border: none;
  font-size: 15px;
}

/* color-picker swatch pallete within editor-container */
.color-picker {
  max-width: 33%;
}

.outer-circle{
  fill:none;
  stroke-width:2px;
}

.inner-circle{
  stroke:#000;
  stroke-width:1px;
}

.topright {
  position: absolute;
  left: 51%;
  top: 175px;
  font-size: 15px;
  /* content:url(https://images.vexels.com/media/users/3/131556/isolated/preview/904af0f5df4690d4236d521bb141b97f-nba-logo-by-vexels.png); */

}

.topright img {
  height: 50px;
  width: 50px;
}

.middle {
  position: absolute;
  text-align: center;
  top: 200px;
  right: 46%;
  font-size: 15px;
}

.middle img {
  height: 100px;
  width: 100px;
}

.topright img {
  height: 50px;
  width: 50px;
}

.aboutus-wrapper {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: space-evenly;
  margin: 10%;
}

.profile-pic {
  height: 350px;
  width: 350px;
  border-radius: 50%;
}
