.label {
  background-color: transparent;
  border: 3px solid lightgrey;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  color: black;
}

.wrapper-1 {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2.75%;
  border:2px solid lightgrey;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  flex-direction: row;
  justify-content: space-around;
}

.editor-container {
  display: flex;
  justify-content: center;
}

.shirtTitle {
  font-size: 40px;
}

/* individual saved shirts in shirt-gallery */
.shirt {
  stroke:#000;
  stroke-width:5px;
  width: 130px;
  margin: 10px;
  line-height: 100px;
}

.shirt-type{
  height: 100px;
  width: 100px;
  font-size: 18px;
  background: none;
  border:2px solid lightgrey;
  margin: 10px;
  line-height: 100px;
}

.canvas-container {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.editor-container {
  position: relative;;
  height: auto;
  margin-top: -10%;
  margin-left: 23%;
  margin-right: 23%;
  border: 5px solid lightgrey;
}

.shirtColor {
  width: 130%;
  stroke:#000;
  stroke-width:5px;
}

.save-button {
  background-color: transparent;
  border: 2px solid lightgrey;
  font-family: 'Raleway', sans-serif;
  float: right;
  margin-top: -50%;
  font-size: 18px;
}

/* color-picker swatch pallete within editor-container */
.color-picker {
  max-width: 33%;
}


.outer-circle{
  fill:none;
  stroke-width:2px;
  }
  .inner-circle{
  stroke:#000;
  stroke-width:1px;
  }

.topright {
  position: absolute;
  left: 51%;
  top: 175px;
  font-size: 15px;
  /* content:url(https://images.vexels.com/media/users/3/131556/isolated/preview/904af0f5df4690d4236d521bb141b97f-nba-logo-by-vexels.png); */

}

.topright img {
  height: 50px;
  width: 50px;
}

.middle {
  position: absolute;
  text-align: center;
  top: 200px;
  right: 46%;
  font-size: 15px;
}

.middle img {
  height: 100px;
  width: 100px;
}
