.canvas-container {
  margin-top: 5%;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  /* border: 5px solid lightgrey; */
}

.editor-container {
  height: 50vh;
  margin-top: 5%;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  /* border: 5px solid lightgrey; */
}

.shirt-1 {
  padding-top: 5%;
  width: 50vh;
  height: 50vh;
  fill:none;
  stroke:#000;
  stroke-miterlimit:10;
  stroke-width:2px;
}

.color-picker {
  padding-left: 7%;
  max-width: 35%;
  border: 5px solid cyan;
}
